<div class="container post">
    <div class="row">
        <div class="col-12">
            <h1 class="post-title">
                {{post.title}}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="post-content">
                <img src="https://via.placeholder.com/800x200" alt="image">
                <p>{{post.content}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button routerLink="/" type="button" class="btn btn-primary">All posts</button>
        </div>
    </div>
</div>
